<div><%= login_link %></div>
<div>
  Login status:
  <%= logged_in ?
    "Logged in as #{current_user.username}" :
    "Without login, your data will not be saved" %>
</div>
<br/>
<div id="root"></div>
